<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color:red;
            }

        </style>
    </head>
<body>
    <nav>
        <div>
            <a href='/blog'>Main Blog Page</a>
            <a href='/newpost'>Add a Blog Entry</a>
        </div>
        <div>
            <a href='/login'>Login</a>
            <a href='/logout'>Logout</a>
            <a href='/'>Author List</a>
        </div>
    </nav>

</br>
    {% block content %}
    {% endblock %}

</body>
</html>